DATABASE_URL=postgresql://neondb_owner:npg_Oqri51HPpnvh@ep-wispy-smoke-aiwmrs95-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
SESSION_SECRET=codearena-premium-secret-9911
FRONTEND_URL=https://contest-remainder-six.vercel.app
NODE_ENV=production
